<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">age</th>
        <th scope="col">adress</th>
        <th scope="col">num_tel</th>
        <th scope="col">date creation</th>
        <th scope="col">date Update</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>karim</td>
        <td>male</td>
        <td>40</td>
        <td>siliana</td>
        <td>93116157</td>
        <td>25/05/2022</td>
        <td>29/05/202</td>
      </tr>
      
    </tbody>
  </table>
